# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]
  - id: ruff
    name: ruff
    entry: ruff
    language: system
    args: [--fix, --force-exclude]
    types: [python]
