[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.10.*"
pytest = "*"
isort = "*"
pre-commit = "*"

[packages]
requests = "*"
semver = "*"
beautifulsoup4 = "*"
pyyaml = "*"
jinja2 = "*"

[requires]
python_version = "3.11"
