[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pre-commit = "*"
ruff = "==0.1.6"
pytest-cov = "*"
mypy = "*"
types-requests = "==2.31.0.10"
types-beautifulsoup4 = "==4.12.0.7"
pytest-socket = "*"
responses = "*"

[packages]
requests = "*"
semver = "*"
beautifulsoup4 = "*"
jinja2 = "*"

[requires]
python_version = "3.12"
