[tool.ruff]
line-length = 120
select = ["ALL"]
ignore = [
  "T201",  # This is a cli
  "DTZ003", # Allow naive datetimes
  "FBT002", # Allow boolean traps
  "G004", # Allow using f-strings when logging
  "D", # FIXME: docs
  "TD", # Allow TODOs
  "FBT001" # Allow boolean function args
]

[tool.ruff.per-file-ignores]
"**/test*.py" = ["S101"]

[tool.black]
line-length = 120
target-version = ['py311']
